---
services:
  umami:
    image: ghcr.io/umami-software/umami:latest
    networks:
      - umami-network
    ports:
      - "61201:3000"
    environment:
      DATABASE_URL: postgresql://umami4609:46095a51746c900d@db:5432/umami
      APP_SECRET: 1X0Sb7RnQvouvgzH
    depends_on:
      db:
        condition: service_healthy
    init: true
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:3000/api/heartbeat"]
      interval: 5s
      timeout: 5s
      retries: 5
  db:
    image: postgres:15-alpine
    networks:
      - umami-network
    environment:
      POSTGRES_DB: umami
      POSTGRES_USER: umami4609
      POSTGRES_PASSWORD: 46095a51746c900d
    volumes:
      - umami-db-data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
networks:
  umami-network:
    driver: bridge
volumes:
  umami-db-data:
